## bookmark V. 2.0
## Social bookmark velocity template for confluence
## (c) 2010 Michael Bushe, michael@bushe.com
## Based off of work from:
## (c) 2006 Arne Schirmacher,arne.schirmacher@softwaretesting.de
##
## if you update this with new features or bookmark links, please
## send me a copy. Thanks.
#set( $baseurl = $config.getBaseUrl() )
#set( $urlpath = $content.getUrlPath() )
#set( $url = "$baseurl$urlpath")
#set( $url = $url.replace("+","%2b") )
#set( $title = $content.getTitle() )
#set( $title = $title.replace("+","%20") )


<div class="sociable">
    <div class="sociable_tagline">
    <strong>Share This:</strong>
    </div>
    <ul>
        <li><a rel="nofollow"  target="_blank" href="http://delicious.com/post?url=$url%2F&amp;title=$title&amp;" title="del.icio.us"><img src="http://www.eventbus.org/images/delicious.png" title="del.icio.us" alt="del.icio.us" style="width: 16px; height: 16px;" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.digg.com/submit?url=$url%2F&amp;title=$title" title="Digg"><img src="http://www.eventbus.org/images/digg.png" title="Digg" alt="Digg" style="width: 16px; height: 16px;" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.dzone.com/links/add.html?url=$url&amp;title=$title" title="DZone"><img src="http://www.eventbus.org/images/dzone.png" title="DZone" alt="DZone" style="width: 16px; height: 16px;" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://slashdot.org/bookmark.pl?title=$title&amp;url=$url%2F" title="Slashdot"><img src="http://www.eventbus.org/images/slashdot.png" title="Slashdot" alt="Slashdot" style="width: 16px; height: 16px;" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.facebook.com/share.php?u=$url&amp;t=$title" title="Facebook"><img src="http://www.eventbus.org/images/facebook.png" title="Facebook" alt="Facebook" style="width: 16px; height: 16px;" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=$url%2F&amp;title=$title&amp;" title="LinkedIn"><img src="http://www.eventbus.org/images/linkedin.png" title="LinkedIn" alt="LinkedIn" style="width: 16px; height: 16px;" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://twitter.com/home?status=$title%20-%20$url%2F" title="Twitter"><img src="http://www.eventbus.org/images/twitter.gif" title="Twitter" alt="Twitter" style="width: 16px; height: 16px; " class="sociable-hovers" /></a></li>
        <li class="sociablelast"><a rel="nofollow"  target="_blank" href="mailto:?subject=$title&amp;body=$url%2F" title="email"><img src="http://www.eventbus.org/images/email_link.png" title="email" alt="email" style="width: 16px; height: 16px;" class="sociable-hovers" /></a></li>
    </li>
    </ul>
    </div>
</div>
