## bookmark V. 2.0
## Social bookmark velocity template for confluence
## (c) 2010 Michael Bushe, michael@bushe.com
## Based off of work from:
## (c) 2006 Arne Schirmacher,arne.schirmacher@softwaretesting.de
##
## if you update this with new features or bookmark links, please
## send me a copy. Thanks.
#set( $baseurl = $config.getBaseUrl() )
#set( $urlpath = $content.getUrlPath() )
#set( $url = "$baseurl$urlpath")
#set( $url = $url.replace("+","%2b") )
#set( $title = $content.getTitle() )
#set( $title = $title.replace("+","%20") )


<div class="sociable">
    <div class="sociable_tagline">
    <strong>Share and Enjoy:</strong>
    </div>
    <ul>
        <li><a rel="nofollow"  target="_blank" href="http://delicious.com/post?url=$url%2F&amp;title=$title&amp;" title="del.icio.us"><img src="http://www.eventbus.org/images/services-sprite.png" title="del.icio.us" alt="del.icio.us" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 0" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.dzone.com/links/add.html?url=$url%2F&amp;title=$title" title="DZone"><img src="http://www.eventbus.org/images/services-sprite.png" title="DZone" alt="DZone" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 -66" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://reddit.com/submit?url=$url%2F&amp;title=$title" title="Reddit"><img src="http://www.eventbus.org/images/services-sprite.png" title="Reddit" alt="Reddit" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 -330" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://slashdot.org/bookmark.pl?title=$title&amp;url=$url%2F" title="Slashdot"><img src="http://www.eventbus.org/images/services-sprite.png" title="Slashdot" alt="Slashdot" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 -398" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.stumbleupon.com/submit?url=$url%2F&amp;title=$title" title="StumbleUpon"><img src="http://www.eventbus.org/images/services-sprite.png" title="StumbleUpon" alt="StumbleUpon" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 -464px" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.facebook.com/share.php?u=$url%2F&amp;t=$title" title="Facebook"><img src="http://www.eventbus.org/images/services-sprite.png" title="Facebook" alt="Facebook" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 -132px" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.friendfeed.com/share?title=$title&amp;link=$url%2F" title="FriendFeed"><img src="http://www.eventbus.org/images/services-sprite.png" title="FriendFeed" alt="FriendFeed" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 -198px" class="sociable-hovers" /></a></li>
        <li><a rel="nofollow"  target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=$url%2F&amp;title=$title&amp;" title="LinkedIn"><img src="http://www.eventbus.org/images/services-sprite.png" title="LinkedIn" alt="LinkedIn" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 -264px" class="sociable-hovers" /></a></li>
        <li class="sociablelast"><a rel="nofollow"  target="_blank" href="http://twitter.com/home?status=$title%20-%20$url%2F" title="Twitter"><img src="http://www.eventbus.org/images/services-sprite.png" title="Twitter" alt="Twitter" style="width: 16px; height: 16px; background: transparent url(http://www.eventbus.org/images/services-sprite.png) no-repeat; background-position:0 -530" class="sociable-hovers" /></a></li>
    </li>
    </ul>
    </div>
</div>
